html {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, #50B3FA, #4F7DFA, #5950FA, #50E9FA, #9050FA);
    background-size: 400% 400%;
    animation: gradiente-movimiento 10s ease infinite;
}

@keyframes gradiente-movimiento {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

section {
    max-width: 900px;
    margin-top: 84px;
    margin-right: auto;
    margin-left: auto;
  }

  .presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 32px;
    background-color: #4F7DFA;
    box-shadow: 0px 2px 20px rgba(255, 255, 255, 0.775);
    color: white;
    height: fit-content;
    border-radius: 32px;
  }

  .presentacion h1 {
    margin: 0px;
    text-align: center;
  }

  .presentacion p {
    margin: 0px;
    text-align: center;
  }

  .nombre {
    font-size: 80px;
    line-height: 100%;
  }

  .profesion{
    font-size: 32px;
    line-height: 120%;
  }

  .bio{
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: 300;
    line-height: 150%;
    text-align: justify;
  }

  h2 {
    color: white;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.778);
    text-align: center;
  }

  .enlace-proyecto {
    text-decoration: none;
    color: black;
  }

  .enlace-proyecto:hover {
    color: #4F7DFA;
  } 

  .proyecto {
    padding: 16px;
    background-color: white;
    box-shadow: 3px 5px 5px #000000;
    border-radius: 16px;
    margin-bottom: 16px;
  }

  .experiencia {
    padding: 16px;
    background-color: white;
    box-shadow: 3px 5px 5px #000000;
    border-radius: 16px;
    margin-bottom: 16px;
  }
  .exp-nombre {
    font-size: 20px;
    font-weight: 600;
  }
  .exp-descripcion {
    font-size: 16px;
    font-weight: 300;
  }
  .exp-fecha {
    font-size: 14px;
    font-weight: 300;
    color: rgb(115, 115, 115);
  }

  .habilidad {
    width: fit-content;
    padding: 8px;
    background-color: #E9F4FD;
    box-shadow: 3px 5px 5px #000000;
    border-radius: 8px;
  }
  .habilidad p {
    width: fit-content;
    margin: 8px;
  }

  .envoltura-habilidades{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }